body {
    margin: 0;
}

a {
    color: #96969b;
    text-decoration: none;
}

a:hover{
    color: #323237;
    transition: .3s;
}

#app {
    color: #333;
    background-color: #333;
    color: #96969b;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
  }

  #app #main {
      padding: 10px 10px 80px 10px;
  }

#page-header {
    background-color: #323237;
    height: 40px;
    display: flex;
    padding: 0 12px;
    justify-content: space-between;
    align-items: center;
}

#page-header img{
    height: 24px;
}

#thumbnails {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#page-footer {
    position:fixed;
    bottom:0;
    width:100%;
    height: 40px;
    background-color: #323237;
}

.card {
    background-color: white;
}

.card h4 {
    font-weight: 800;
    font-size: 15px;
    margin-bottom: 4px;
}




.grid {
    display: grid;
    grid-gap: 15px;
}

.grid li {
    padding: 10px;
    width: auto;
}

.grid li img {
    width: 100%;
}

.grid li a img{
    filter: brightness(85%);
 }

.grid li a img:hover{
    transition: .3s;
    filter: brightness(100%);
 }

@media all and (max-width: 599px) {
    .grid {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 8px;
    }
}

@media all and (min-width: 600px) {
    .grid {
        display: grid;
        grid-gap: 15px;
        padding-right: 10px;
        grid-template-columns: repeat(2, 1fr);
    }

    .grid li {
        display: block;
        float: none;
    }
}

@media all and (min-width: 990px) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
    }
}
